{{#if messages}}

  {{#each messages as |message|}}
    <section class="show " data-_id="{{message._id}}" data-message="{{message}}">

      <h5>{{message.user}}: {{message.message}}  </h5>

       <button id="btn-ondelete" class="btn-ondelete btn-danger but2" data-_id="{{message._id}}"> Delete </button>
       <form id="update">
         <button id="btn-onupdate" input="submit" class="btn-onupdate but2" data-_id="{{message._id}}"> update </button>
         <input id="update-id" type="text"  name="chat[message]" required placeholder="Update Word">
      </form>

    </section>


  {{/each}}


{{else}}

   <div class="hadlebardiv">click new message to create message </div>
{{/if}}
