<!--  -->
{{#if messages}}
{{log messages}}
  {{#each messages as |message|}}
    <section class="show ">
      <h5>{{message.user}}: {{message.message}}  </h5>
{{#if message.user}}
 <button  class="btn-ondelete but1" data-_id="{{message._id}}"> X </button>
 <button  class="btn-onupdate but2" data-_id="{{message._id}}"> O</button>
 {{/if}}
    </section>


    <!--  -->


  {{/each}}


{{else}}

   <div class="hadlebardiv">click new message to create message </div>
{{/if}}
